body {
  background-color: #151226; /* Deep cosmic background */
  background-image: url('img/background.png'); /* If you still want a background image */
  background-repeat: repeat; 
  background-size: cover; 
  font-family: 'Avenir Next', sans-serif; /* Modern, clean font */
  color: #f5f0ff; /* Slightly off-white text for readability */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.centered-image-container {
  text-align: center;
  margin-top: 20px;
  filter: drop-shadow(0px 0px 10px rgba(255, 220, 0, 0.8)); /* Subtle glow */ 
}

.centered-image-container img {
  max-width: 66.66%; 
  height: auto; 
}


.title {
  font-size: 256px;
  text-align: center;
  color: gold;
  text-shadow: 0 0 20px rgb(255, 22, 22);
}

.bubble-box, .centered-box {
  background: linear-gradient(45deg, rgba(255, 100, 0, 0.9), rgba(200, 0, 150, 0.7)); /* Vibrant gradient */
  color: #f5f0ff;  /* Off-white text */
  padding: 20px;
  text-align: center;
  font-size: 64px; 
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.5); 
  border-radius: 15px;
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.buy-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#buyButton {
  padding: 20px 40px; /* Increase button size */
  font-size: 24px; /* Increase button font size */
  background-color: #FFD000; /* Bold yellow */
  color: #151226; /* Contrasting dark */
  text-decoration: none; /* Remove underline from link */
  display: inline-block; /* Display as block element */
  border-radius: 8px; /* Add rounded corners */
  box-shadow:  0px 0px 20px rgba(255, 255, 0, 0.5); 
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

#buyButton:hover {
  background-color: #ff9000; 
  cursor: pointer;
}

.gif-container {
  width: 100%; 
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 15px;
}

.gif-container img {
  max-width: 100%; 
  height: auto;
}

.social-links {
  text-align: center; /* Center the links horizontally */
  margin-top: 30px; 
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 300px; 
}

.social-links a { 
  color: #ffffff;   /* White color */
  text-decoration: underline; 
  font-size: 2.05em; /* 5% larger text */
  transition: color 0.3s ease; /* Smooth color change on hover */
}

.social-links a::after { /* Add underscore using pseudo-element */
  content: "_";  
}

.social-links a:hover {
  color: red; /* Red on hover */
}

.scrolling-text {
  height: 40px; 
  overflow: hidden;
  margin-top: 20px;
  background-color: rgba(20, 15, 40, 0.6); 
  border-radius: 8px;
}

.scrolling-text div {
  font-size: 1.2em;
  line-height: 40px; 
  animation: scrollingText 45s linear infinite; 
}

@keyframes scrollingText {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); } 
}
